.game-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 0 50px;
}

button {
  width: 100%;
}

img {
  width: 60px;
}

.actions {
  position: relative;
}

.coin, .dice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  transition: all .2s linear;
}

.active-coin {
  transform: translate(-50%, -200%) rotate(360deg);
}

.active-dice {
  transform: translate(-50%, 100%) rotate(-360deg);
}

.reset-game>* {
  transition: all 1s linear;
  animation: reset-game 5s linear infinite;
}

@keyframes reset-game {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 480px) {
  .game-actions {
    margin: 20px 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
    margin: 0;

    & button img, button svg {
      width: 30px;
      height: 30px;
    }
  }

  .dice, .coin {
    width: 40px;
    height: 40px;
  }
}