@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=BenchNine:wght@300;400;700&family=Bungee+Spice&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gruppo&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Shadows+Into+Light&family=Six+Caps&display=swap');

#root {
  width: 100%;
  padding: 0 10%;
  text-align: center;
  
  height: calc(var(--vh, 1vh) * 100);
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cascadia-code-font {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.caveat-font {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}



.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}



.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}



.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}



.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}



.gruppo-regular {
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.six-caps-regular {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.benchnine-light {
  font-family: "BenchNine", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.benchnine-regular {
  font-family: "BenchNine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.benchnine-bold {
  font-family: "BenchNine", sans-serif;
  font-weight: 700;
  font-style: normal;
}



.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}



@media screen and (max-width: 480px) {
  #root {
    padding: 0;
    height: 100vh;
    width: 100vw;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 10% 0;
    justify-content: space-between;
  }
}